<div class='card-wrapper'>
  <div class="booking-card">
    <ul>
      <li><strong>Item: </strong> <%= title %></li>
      <li><strong>Total price for booking: </strong> £<%= price * (end_date - start_date).to_i %></li>
      <li><strong>Start Date: </strong> <%= start_date.strftime("%B %d, %Y") %></li>
      <li><strong>End Date: </strong> <%= end_date.strftime("%B %d, %Y") %></li>
      <li><strong>Duration: </strong> <%= (end_date - start_date).to_i %> days</li>
    </ul>
    <div class="item-image">
      <%= cl_image_tag photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div class='delete-link'>
      <% if policy(booking).destroy? %>
        <%= link_to booking_path(booking), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "btn btn-link p-0 m-0 align-baseline" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
