<div class='card-wrapper'>
  <div class="item-info">
    <div class="item-image">
      <%= cl_image_tag photo, height: 500, width: 350, crop: :fill, alt: title %>
    </div>

    <div class="item-data">
      <h3><strong>Item :</strong> <%= title %></h3>
      <ul>
        <li><strong>Description:</strong> <%= description %></li>
        <li><strong>Price per day: </strong> £<%= price %></li>
      </ul>

      <ul>
        <li><strong>Category:</strong> <%= category %></li>
        <li><strong>Size:</strong> <%= size %></li>
        <li><strong>Brand:</strong> <%= brand %></li>
      </ul>
    </div>
    <hr>
    <div class='new-booking-container'>
      <h3>Would you like to rent <%= title %>?</h3>
      <%= render 'bookings/booking_form', item: item, booking: booking %>
    </div>
    <div class='delete-link'>
      <% if policy(item).destroy? %>
        <%= link_to item_path(item), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "btn btn-link p-0 m-0 align-baseline" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
