<div class='container'>
  <h1>Item Details</h1>
  <ul>
    <li>Item: <%= @item.title %></li>
    <li>description: <%= @item.description %></li>
    <li>Price: <%= @item.price %></li>
  </ul>
    <img src="<%= @item.image_url %>">
  <ul>
    <li>Category: <%= @item.category %></li>
    <li>Size: <%= @item.size %></li>
    <li>Brand: <%= @item.brand %></li>
  </ul>
</div>
