<div class="item-details-container item-details">
  <h1>Item Details</h1>

  <div class="item-info">
    <div class="item-image">
      <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    </div>

    <div class="item-data">
      <ul>
        <li><strong>Item:</strong> <%= @item.title %></li>
        <li><strong>Description:</strong> <%= @item.description %></li>
        <li><strong>Price per day: </strong> £<%= @item.price %></li>
      </ul>

      <ul>
        <li><strong>Category:</strong> <%= @item.category %></li>
        <li><strong>Size:</strong> <%= @item.size %></li>
        <li><strong>Brand:</strong> <%= @item.brand %></li>
      </ul>
    </div>
      <hr>
      <div class='new-booking-container'>
        <h3>Create a new booking</h3>
        <%= render 'bookings/booking_form', item: @item, booking: @booking %>
      </div>
  </div>
      <%= link_to 'Back to Items', items_path, class: 'button-link' %>
</div>
