<div class='container'>
  <h1>Item Details</h1>
  <ul>
    <li>Title: <%= @item.title %></li>
    <li>Price: <%= @item.price %></li>
    <li>Description: <%= @item.description %></li>
  </ul>
  <img src="<%= @item.image_url %>" alt="<%= @item.title %>">
  <ul>
    <li>Category: <%= @item.category %></li>
    <li>Size: <%= @item.size %></li>
    <li>Brand: <%= @item.brand %></li>
  </ul>
  <div class='container'>
    <h3>Create a new booking</h3>
    <%= render 'bookings/booking_form', user: @item.user, item: @item %>
  </div>
</div>
